<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

	<!--
    <add key="ApiUri" value="https://localhost/epay3.Web.Api"/>
    -->
		
	<add key="ApiUri" value="https://api-sandbox.epaypolicy.com"/>
		
	<!--
    Use these settings if impersonation is off.
    <add key="ApiKey" value="3e18c84b5a434a"/>
    <add key="ApiSecret" value="o0s9p23jsdf22va"/>
    -->

	<!--
    Use these settings if impersonation is on.
    -->
    <add key="ApiKey" value="3e18c84b5a434c"/>
    <add key="ApiSecret" value="o0s9p23jsdf22va"/>
    <add key="ApiPublicKey" value="82604ac77dee40b5ae8fceea7ef12d3" />

    <add key="ApiKey_Processor13" value="57c993d3825f4a5" />
    <add key="ApiSecret_Processor13" value="3a93773f8c4b492" />
    <add key="ApiPublicKey_Processor13" value="a14489eb80ca46c98032d082bc9d880c" />
    <add key="ImpersonationAccountKey_Processor13" value="bf2c0994679d401395f7de910" />
		
    <add key="InvoiceApiKey" value="3e18c84b5a434b"/>
    <add key="InvoiceApiSecret" value="o0s9p23jsdf22va"/>

    <add key="ImpersonationAccountKey" value="sdjf0xlsabb"/>
    <add key="InvoicesImpersonationAccountKey" value="d9ca809edb6449e7aea033d45 "/>
    <add key="ApiPublicKey" value="82604ac77dee40b5ae8fceea7ef12d3"/>
    <add key="ImpersonationOnlyBatchId" value="4"/>

    <add key="ApiKey_Processor12" value="1f97a7c83bea45f" />
    <add key="ApiSecret_Processor12" value="a95cbf3f62e649e" />
    <add key="ApiPublicKey_Processor12" value="ae28b0c9ac494282a637752fb700a753" />
		
    <!--
    <add key="ApiUri" value="https://api.epay3.com"/>
    <add key="ApiKey" value=""/>
    <add key="ApiSecret" value=""/>
    -->
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
