<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit    http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="ApiUri" value="https://api.epay3qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ApiKey" value="b3092b8392a741e" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ApiSecret" value="4d6cdedb87c14c7" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="InvoiceApiKey" value="b3092b8392a741e" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="InvoiceApiSecret" value="4d6cdedb87c14c7" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ImpersonationAccountKey" value="a59faba1e614414cbfa4e088b" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="InvoicesImpersonationAccountKey" value="a59faba1e614414cbfa4e088b" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ApiPublicKey" value="dad48cfe6e5f491d9d36c80455424402" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ImpersonationOnlyBatchId" value="232" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<add key="ApiKey_Processor12" value="0642b40a0ddf449" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ApiSecret_Processor12" value="4dd0ed156054482" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ApiPublicKey_Processor12" value="1d97916f87eb4f62b261ea11ee0c48c0" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<add key="ApiKey_Processor13" value="8aac46c3d574483" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ApiSecret_Processor13" value="0514197d12504cb" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ApiPublicKey_Processor13" value="811ca8e26bba41e79ec0fcad6a441802" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ImpersonationAccountKey_Processor13" value="sdjf0xlsabb" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>