<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit    http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="ApiUri" value="https://api.epay3qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ApiKey" value="0642b40a0ddf449" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ApiSecret" value="4dd0ed156054482" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="InvoiceApiKey" value="a6383a686fe24b4" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="InvoiceApiSecret" value="6c96d4c08fc344b" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ImpersonationAccountKey" value="a59faba1e614414cbfa4e088b" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="InvoicesImpersonationAccountKey" value="a59faba1e614414cbfa4e088b" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ApiPublicKey" value="1d97916f87eb4f62b261ea11ee0c48c0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ImpersonationOnlyBatchId" value="24" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

		<add key="ApiKey_Processor12" value="0642b40a0ddf449" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ApiSecret_Processor12" value="4dd0ed156054482" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ApiPublicKey_Processor12" value="1d97916f87eb4f62b261ea11ee0c48c0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	
	</appSettings>
</configuration>