<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit    http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 <appSettings>
  <add key="ApiUri" value="https://api.epay3qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ApiKey" value="345f5d48012b4f4" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ApiSecret" value="c301d46bfa1d445" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ImpersonationAccountKey" value="sdjf0xlsabb" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
   <add key="InvoicesImpersonationAccountKey" value="10c5e55ef0864f5c9cd46b140" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
   <add key="ApiPublicKey" value="82604ac77dee40b5ae8fceea7ef12d3" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
   <add key="ImpersonationOnlyBatchId" value="24" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
 </appSettings>
</configuration>