<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="ApiUri" value="https://localhost/EPayPolicy.Web.Api"/>
    
    <!--<add key="ApiUri" value="https://api-sandbox.epaypolicy.com"/>-->

    
    <!--Use these settings if impersonation is off.-->
    <add key="ApiKey" value="3e18c84b5a434b"/>
    <add key="ApiSecret" value="o0s9p23jsdf22va"/>
    

    <!--
    Use these settings if impersonation is on.
    -->
    <!--<add key="ApiKey" value="3e18c84b5a434c"/>
    <add key="ApiSecret" value="o0s9p23jsdf22va"/>
    <add key="ImpersonationAccountKey" value="sdjf0xlsabb"/>
    <add key="InvoicesImpersonationAccountKey" value="d9ca809edb6449e7aea033d45 "/>-->
    <add key="ApiPublicKey" value="82604ac77dee40b5ae8fceea7ef12d3"/>

    <!--
    <add key="ApiUri" value="https://api.epay3.com"/>
    <add key="ApiKey" value=""/>
    <add key="ApiSecret" value=""/>
    -->
  </appSettings>
</configuration>
